body { background-color: beige; font-family: sans-serif; text-align: center; }
h1 { font-size: 40px; color: #123A70; }
label, tr { display: inline-block; width: 120px; text-align: right; font-weight:normal; }
input { font-size: 18px; padding: 6px; margin: 8px; display: inline-block; border: 1px solid #888; border-radius: 4px; }
input:focus { border-color: #123A70; outline: none; }
button { display: inline-block; margin-top: 15px; padding: 10px 20px; background-color: #123A70; color: white; border: none; border-radius: 5px; cursor: pointer; }
button:hover { background-color: #0d2548; box-shadow: 0 2px 5px rgba(0,0,0,0.3); }